body {
    background: url("/images/dante.jpg") no-repeat top ;
}

#open-form-cont {
    display: none;
}

.asd {
    height: 50vh;
    margin: auto;
    position: relative;
    top: 20vh;
}

#panel-cont {
    margin: auto;
}

.button-cont{
    height: 48%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#pos-button {
    height: 49%;
    margin-bottom: 1%;
    width: 100%;
    background-color: blue;
    color: #ffffff;
}

div button {
    width: 100%;
    height: 100%;
}

#close-button {
    height: 49%;
    background-color: aquamarine;
}

#open-button {
    height: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#stats {
    height: 48%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
}

.container {
    float: none;
    margin: auto;
    border: 1px solid red;
}