<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form th:if="${isIncome} == true" th:action="@{/add-income}" method="post" th:object="${newIncome}">
        <p>value</p>
        <input type="text" th:field="*{value}"/>
        <p>description</p>
        <input type="text" th:field="*{description}"/>
        <button type="submit">Save</button>
    </form>

    <form th:if="${isIncome} == false" th:action="@{/add-expense}" method="post" th:object="${newExpense}">
        <p>value</p>
        <input type="text" th:field="*{value}"/>
        <p>description</p>
        <input type="text" th:field="*{description}"/>
        <button type="submit">Save</button>
    </form>
</body>
</html>