<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>napzárás</title>
</head>
<body>
    <form th:action="@{/close-day}" method="post" th:object="${openedDailyAccount}">
        <p>záró kp</p>
        <input type="text" th:field="*{closeCash}"/>
        <p>terminál forgalom</p>
        <input type="text" th:field="*{terminalBalance}"/>
        <p>kassza forgalom</p>
        <input type="text" th:field="*{cassaBalance}"/>
        <p>pos forgalom</p>
        <input type="text" th:field="*{posBalance}"/>
        <p>megjegyzések</p>
        <input type="text" th:field="*{comments}"/>
        <button type="submit">Save</button>
    </form>
</body>
</html>