<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Open Day</title>
</head>
<body>

<form th:action="@{/openDay}" method="post">
    <p>
        5
        <input type="text"/><br>
    </p>
    <p>
        10
        <input type="text"/><br>
    </p>
    <p>
        20
        <input type="text"/><br>
    </p>
    <p>
        50
        <input type="text"/><br>
    </p>
    <p>
        100
        <input type="text"/><br>
    </p>
    <p>
        200
        <input type="text"/><br>
    </p>
    <p>
        500
        <input type="text"/><br>
    </p>
    <p>
        1000
        <input type="text"/><br>
    </p>
    <p>
        2000
        <input type="text"/><br>
    </p>
    <p>
        5000
        <input type="text"/><br>
    </p>
    <p>
        10000
        <input type="text"/><br>
    </p>
    <p>
        20000
        <input type="text"/><br>
    </p>
</form>

</body>
</html>